@import "tailwindcss";

/* Define the theme variable so Tailwind recognizes "font-satoshi" */
@theme {
  --font-satoshi: var(--font-satoshi), sans-serif;
}

:root {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* globals.css */
@layer utilities {
  @keyframes continuousRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
